$offcanvas-horizontal-width: 275px;
$navbar-brand-margin-end: 0px;
$primary: rgb(161, 75, 59);
$navbar-height: 72px;
$scrollspy-offset-amount: 8px;

@import "../../node_modules/bootstrap/scss/bootstrap";

// Overriden Bootstrap styles.
body {
  background-color: rgb(250, 250, 250);
  background-color: rgba($primary, 0.075);
}

.custom-border-start {
  border-left: 1px solid rgba($primary, 0.35);
}

.custom-border-end {
  border-right: 1px solid rgba($primary, 0.35);
}

div.warning-container {
  background-color: rgba($warning, 0.1);
  border: 1px solid rgba($warning, 0.5);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

div.code-container {
  border-radius: 5px;
  border: 1px solid rgba($primary, 0.5);
}

hr.section-divider {
  opacity: 10%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

section.main-content-section {
  padding-top: $navbar-height + $scrollspy-offset-amount;
  margin-top: -($navbar-height + $scrollspy-offset-amount);
}

body nav#nav-top {
  background-color: rgba($primary, 0.95);
  background-image: linear-gradient(
    180deg,
    rgba($primary, 0.9),
    rgba($primary, 0.7),
    rgba($primary, 0.5),
    rgba($primary, 0.3)
  );
}

// Styles for the home page.
div.download-div div.icon-square img {
  opacity: 50%;
  transition: opacity 500ms;
}

div.download-div:hover div.icon-square img {
  opacity: 100%;
}

button#npm-copy-button {
  background-color: transparent;
  border: none;
  opacity: 50%;
  transition: opacity 250ms;
}

button#npm-copy-button:hover {
  opacity: 100%;
}

// Styles for the documentation navigation links.
a.nav-link.documentation-link {
  width: fit-content;
  color: rgb(88, 88, 88);
  border-radius: 5px;
}

a.nav-link.documentation-link.active {
  color: white;
  background-color: rgba($primary, 0.75);
}

a.nav-link.documentation-link:hover {
  color: black;
  background-color: rgba($primary, 0.15);
}

// Styles for the page contents navigation links.
a.nav-link.page-contents-link {
  text-decoration: none;
  width: fit-content;
  color: rgb(136, 136, 136);
}

a.nav-link.page-contents-link.active {
  font-weight: bold;
  color: rgb(87, 87, 87);
}

a.nav-link.page-contents-link:hover {
  text-decoration: underline;
  color: inherit;
}

// General carousel styles.
div.freighter-c {
  border-radius: 10px;
}

div.ci {
  background-color: rgba($primary, 0.55);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 3px solid rgba($primary, 0.75);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.ci p {
  color: white;
  font-size: min(6.5vw, 7.5rem);
  font-weight: bold;
  margin: 0;
  padding: 0 0.75vw;
  padding-bottom: min(0.75vw, 1rem);
  line-height: 100%;
  // border: 2px dashed rgba($primary, 0.45);
}

// Train carousel styles.
#carousel-train {
  // background-color: rgba($primary, 0.4);
  // background-color: transparent;
  margin: 0 auto;
  width: fit-content;
  overflow-x: hidden;
}
.ci-train {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.ci-train img {
  width: 100%;
  height: 100%;
}
#ci-train-engine img#train-engine {
  height: 70%;
  width: fit-content;
}
#ci-train-engine.align-right {
  flex-direction: column;
  align-items: flex-end;
}
#ci-train-engine.align-center {
  flex-direction: column;
  align-items: center;
}
