$offcanvas-horizontal-width: "275px";
$navbar-brand-margin-end: "0px";

// Styles for the documentation navigation links.
a.nav-link.documentation-link {
  width: fit-content;
  color: rgb(88, 88, 88);
  border-radius: 5px;
}

a.nav-link.documentation-link.active {
  color: rgb(58, 58, 58);
  background-color: lightgray;
}

a.nav-link.documentation-link:hover {
  color: white;
  background-color: rgba(128, 128, 128, 0.85);
}

// Styles for the page contents navigation links.
a.nav-link.page-contents-link {
  width: fit-content;
  color: rgb(136, 136, 136);
}

a.nav-link.page-contents-link.active {
  font-weight: bold;
  color: rgb(87, 87, 87);
}

a.nav-link.page-contents-link:hover {
  text-decoration: underline;
}

// Add Bootstrap overrides here:
@import "../../node_modules/bootstrap/scss/bootstrap";

@import "../custom";
